@import '@styles/theme.module.scss';
.root {
}

h2 {
    font-size: 20px;
    font-weight: bold;
}

.red {
    color: #ff3385;
}

.fancy {
    font-weight: bold;
    text-shadow: 2px 1px 2px #77f;
}

.section {
    margin-top: 12px;
    margin-bottom: 12px;
    padding-right: 12px;
    padding-left: 12px;
    border-bottom: 1px solid #c0c0c0;
    padding-bottom: 12px;
}

span {
    color: #75e8e7;
    background: #001247;
}

#blue {
    background-color: skyblue;
}
.button {
    padding: 6px;
    background-color: #000000;
    color: #00ff80;
    &:hover {
        background-color: #242b86;
        cursor: pointer;
    }
}
a {
    font-size: 12px;
    color: blue;
    text-decoration: underline;
    &:hover {
        text-decoration: unset;
    }
    &:visited {
        color: powderblue;
    }
}

h5::first-line {
    color: #ff0000;
    font-variant: small-caps;
    font-size: 11px;
}

// il::first-line {
//   color: blue;
//   background-color: gold;
// }

.blog-post h3 + p {
    background-color: #e0f7fa;
    border: 1px solid #004d40;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}
